<footer class="footer">
    <div class="footer_container">
        <div id="itens_footer">
            <a href="https://github.com/luanaapms" class="item_footer" target="_blank">GitHub</a>
            <a href="https://www.linkedin.com/in/luana-moraes-souza/" class="item_footer" target="_blank">LinkedIn</a>
            <a href="mailto:luanamsouza0505@gmail.com" class="item_footer">Contato</a>
        </div>
    </div>
</footer>
