<nav class="navbar">
    <div class="navbar_container">
        <a href="" id="titulo_navbar">Portfólio</a>
        <div id="itens_navbar">
            <a href="/" class="item_navbar">Sobre</a>
            <a href="/projects" class="item_navbar">Projetos</a>
            <a href="/certificates" class="item_navbar">Certificados</a>
        </div>
    </div>
</nav>