<nav class="navbar">
    <div class="navbar_container">
        <a href="" id="titulo_navbar">Portfólio</a>
        <div id="itens_navbar">
            <a href="/" class="item_navbar">Sobre</a>
            <a href="/projetos" class="item_navbar">Projetos</a>
            <a href="/certificados" class="item_navbar">Certificados</a>
        </div>
    </div>
</nav>