body{
    font-family: 'Times New Roman', Times, serif;
    background-color: azure;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #057794; 
    padding: 1.5rem 3rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    
}

.navbar_container{
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 100%;
}

#titulo_navbar{
    text-decoration: none;
    font-size: 130%;
    color: black;
    font-weight: 600;
    cursor: default;
  }

.item_navbar{
    text-decoration: none;
    color: black;
    transition: all 0.2s ease;
  }

.item_navbar:hover {
    transform: scale(1.08);
    font-weight: 200;
  }

#itens_navbar{
    display: flex;
    gap: 20px;
    justify-content: right;
}


.footer {
    position: fixed;  
    bottom: 0; 
    width: 100%;
    background-color: #057794; 
    color: rgb(0, 0, 0); 
    padding: 35px 0; 
    text-align: center; 
    margin-top: 40px; 
    
}


.footer_container {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0 20px; 
}


#itens_footer {
    display: flex; 
    justify-content: center; 
    gap: 20px; 
}


.item_footer {
    color: rgb(0, 0, 0); 
    text-decoration: none; 
    font-size: 16px; 
    transition: color 0.3s ease; 
}

.item_footer:hover {
    text-decoration: underline; 
}

